<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            width: 100%;
            background-color: white;
            border-collapse: collapse;
            text-align: left;
        }

        tr:nth-child(odd) {
            background-color: #f2f2f2;
        }

        td {
            border: solid 1px #ddd;
            padding: 8px;
        }

        th {
            padding: 15px;
            color: #eee;
            background-color: #4CAF50;
            text-align: left;
        }
    </style>
</head>

<body>
    <div style="width: 85%; margin: 0 7.5%;">
        <div style="text-align: center;">
            <h3>Reporte de compa&ntilde;&iacute;as</h3>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Usuario</th>
                    </tr>
                </thead>

                <% if (companies.length> 0) { %>
                    <% companies.forEach(companie=> {%>
                        <tr>
                            <td>
                                <%= companie._id %>
                            </td>
                            <td>
                                <%= companie.name %>
                            </td>
                            <td>
                                <%= companie.username %>
                            </td>
                        </tr>
                        <% });%>
                            <% }%>
            </table>
        </div>
    </div>
</body>

</html>